.gv-icon-schedule-icon, .gv-icon-schedule-icon-active {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMxIDI2LjhjMCAyLjMxNy0xLjg4MyA0LjItNC4yIDQuMmE0LjIwNCA0LjIwNCAwIDAgMS00LjItNC4yIDQuMjA0IDQuMjA0IDAgMCAxIDIuOTEyLTMuOTk0QTYuMDA1IDYuMDA1IDAgMCAwIDE5LjYgMTcuOGgtMi40djQuOTc5YzEuNzUuNTIyIDMgMi4xNDIgMyA0LjAyMSAwIDIuMzE3LTEuODgzIDQuMi00LjIgNC4yYTQuMjA0IDQuMjA0IDAgMCAxLTQuMi00LjIgNC4yMDUgNC4yMDUgMCAwIDEgMy00LjAyMVYxNy44aC0yLjRhNi4wMDcgNi4wMDcgMCAwIDAtNS45MTIgNS4wMDZBNC4yMDQgNC4yMDQgMCAwIDEgOS40IDI2LjhjMCAyLjMxNy0xLjg4MyA0LjItNC4yIDQuMkE0LjIwNCA0LjIwNCAwIDAgMSAxIDI2LjhhNC4yMDMgNC4yMDMgMCAwIDEgMy4wNzMtNC4wNDJDNC41OSAxOC41OTYgOC4xNDMgMTUuNCAxMi40IDE1LjRoMi40VjkuMjIxYTQuMjAzIDQuMjAzIDAgMCAxLTMtNC4wMjFDMTEuOCAyLjg4NCAxMy42ODQgMSAxNiAxYzIuMzE2IDAgNC4yIDEuODg0IDQuMiA0LjIgMCAxLjg4LTEuMjUgMy41LTMgNC4wMjJWMTUuNGgyLjRjNC4yNTcgMCA3LjgxIDMuMTk2IDguMzI3IDcuMzU4QTQuMjAyIDQuMjAyIDAgMCAxIDMxIDI2Ljh6IiBmaWxsPSIjNzg3RjhCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
}
.gv-icon-schedule-icon-active {
	filter: invert(100%)
}

.gv-icon-configuration-icon, .gv-icon-configuration-icon-active {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI4IDI2YTIgMiAwIDAgMS0yIDJINmEyIDIgMCAxIDEgMC00aDIwYTIgMiAwIDAgMSAyIDJ6bTAtMTBhMiAyIDAgMCAxLTIgMkg2YTIgMiAwIDEgMSAwLTRoMjBhMiAyIDAgMCAxIDIgMnptMC0xMGEyIDIgMCAwIDEtMiAySDZhMiAyIDAgMSAxIDAtNGgyMGEyIDIgMCAwIDEgMiAyeiIgZmlsbD0iI0IxQzJFRiIvPjwvc3ZnPg==);
}
.gv-icon-configuration-icon-active {
	filter: invert(100%)
}
