SET HOST=10.162.63.179
SET PORT=3008
SET GVApiKey=YjA1ODUwZmU2ODcwNDlkODg4ZGFjZjc2NWViOGMzMDU6STcyTmU1cHJwWlpXWEN3bHQxS1I1ZlBDTkhlQllpMmIvQXNBZXc0ZFh6bVRKL3ZOQzR0VmZNT3J6OHZXNy9zWEcyaUs3RDdGZndYWS9vUlZuRGlVN1E9PQ==
SET GVPublicUri=http://borg.gad.local
SET GVPlatformUri=http://borg.gad.local/production
SET GVNamespace=cbc-test
SET ProxyPath=/channel-ganging-webui